<!DOCTYPE html>
<html>

<head>
    <link href="../css/globalMediaLapotop.css" rel="stylesheet">
    <link href="../css/button.css" rel="stylesheet">
    <script src="./script.js" type="text/javascript"></script> 

</head>

<body>
    <div class="card">
        
            <div class="currentTime">
                
                <div class="date-Row">
                    <span id="dateElement" ></span>
                </div>
                <div class="time-Row">
                    <span id="hours"></span>
                    <span>:</span>
                    <span id="minutes"></span>
                    <span>:</span>
                    <span id="seconds"></span>
                </div>
                
       
        </div>
        <div class="user-information">
            <div class="personnelNumber">
                <label>personnelNumber:</label>
                12345
            </div>
            <div class="username-information">
                <span>Annmarie Ihrke</span>
            </div>
        </div>

        <div class="time-information">
            <div class="row">
                <label>
                    Check-In:
                </label>
                <div class="rightContent">
                    checkIn
                </div>
            </div>
            <div class="row">
                <label>
                    current Work-Time:
                </label>
                <div class="rightContent"> 
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
            <div class="row">  
                <label>
                    Break
                </label>
                <div class="rightContent">
                    00:20:00
                </div>
            </div>
        </div>
        
        <div class="row">
            <div class="button-row">
                
                    <button class="checkIn-Button"> Check-In </button>
                
                    <button class="break-Button"> Break </button>
                
                    <button class="checkOut-Button"> Check-Out </button>
                
                
            </div>
            
        </div>
        <div class="homePageButton">
            <button >Startseite</button>
        </div>
        
      </div>
    </div>
</body>

<footer>

</footer>

</html>