<!DOCTYPE html>
<html>

<head>
    <link href="../css/global.css" rel="stylesheet">
    <link href="../css/button.css" rel="stylesheet">

</head>

<body>
    <div class="card">
        <div class="card-container">
            <div class="text">
                <h1> Welcome to our Time-Registration </h1>
                <h2> What do you want to do? </h2>
            </div>
           
            <div class="button-field">
                <div class="button-container">
                    <button class="logIn-Button">Log-In</button>
                </div>
                <div class="button-container">
                    <button class="registration-Button">Register</button>
                </div>
            </div>

        </div>
    </div>
</body>

<footer>

</footer>

</html>