<!DOCTYPE html>
<html>
    

<head>
    <link href="../css/globalMediaLapotop.css" rel="stylesheet">
    <link href="../css/button.css" rel="stylesheet">
    <script src="../javascript/script.js"></script> 

</head>

<body>
    <div class="card">
        <div class="card-container">
            <div class="text">
                <h1>
                    Log-In
                </h1>
            </div>  
            <div class="input-container">
                <div class="username-input">
                    <label>Username</label>
                    <input class="username">
                </div>
                <div class="passwort-input">
                    <label>Password</label>
                    <input class="passwort"> 
                </div>
                <div class="button-container">
                <button class="submit" type="submit">Submit</button>
                </div>
        </div>
    </div>
</body>

<footer>

</footer>

</html>