<!DOCTYPE html>
<html>

<head>
    <link href="../css/global.css" rel="stylesheet">
    <link href="../css/button.css" rel="stylesheet">
</head>

<body>
    <div class="card">
        <div class="card-container">
            <div class="text">
                <h1>Registration</h1>
            </div>
            <div class="input-container">
                <div class="username-input">
                    <div>Username</div>
                    <input class="username">
                </div>
                <div class="personnelNumber-input">
                    <div>personnel Number</div>
                    <input class="personnelNumber">
                </div>
                <div class="firstName-input">
                    <div>First Name</div>
                    <input class="firstName">
                </div>
                <div class="lastName-input">
                    <div>Last Name</div>
                    <input class="lastName">
                </div>
                <div class="passwort-input">
                    <div>Password</div>
                    <input class="passwort">
                </div>
                <div class="button-container">
                    <button class="submit" type="submit">Submit</button>
                </div>
            </div>   
        </div>
    </div>
</body>

<footer>

</footer>

</html>