<!DOCTYPE html>
<html>

<head>
    <link href="../css/globalMediaLapotop.css" rel="stylesheet">
    <link href="../css/button.css" rel="stylesheet">
    <script src="../javascript/script.js"></script> 

</head>

<body>
    <div class="card">
        <div class="currentTime">
            <label>
                Date:
            </label>
            <div class="date">
            <label>
                current Time:
            </label>
            <div class="time">

            </div>
        </div>
        <div class="user-infromation">
            <div class="username-information">
                
            </div>
            <div class="personnelNumber">

            </div>
        </div>
        <div class="weeklyTimeSheet">
            <label>
                Date
            </label>
            <div class="date">

            </div>
            <label>
               Check-In
            </label>
            <div class="check-in">

            </div>
            <label>
                Check-Out
            </label>
            <div class="check-out">

            </div>
            <label>
                total Work-Time
            </label>
            <div class="workTime">

            </div>
            <label>
                Break-Time
            </label>
            <div class="breakTime">

            </div>
        </div>
    </div>
</body>

<footer>

</footer>

</html>