html {
    font-size: 62,5%;
}
body {
    max-width: 100%;
    margin: auto ;
    

}
* {
    box-sizing: content-box;
}
.card {
    margin:10rem auto;
    background-color: #e1e7eb;
    display: block;
    border-radius: 2rem;
    max-width: 40rem;
    height: 30rem;
    padding: 3rem;
}
label {
    text-align: left;
    position: left;
    padding-right: 1.5rem;
}

.button-container button {
    border-radius: 1.5rem;
    background-color: #b49fcf;
    border-style: none;
    width: 10rem;
    padding: 1rem;
    margin: 0.5rem auto 0 auto;
    display: flex;
    justify-content: center;
    
}
.button-container button:hover{
    cursor: pointer;
    background-color: #7e6996;
    color: #e1e7eb;
}

.text{
    text-align: center;
}
.input-container{
    display: flexbox;
    
}
input {
    width: 100%;
}
.card.container{
    margin-top: 10% ;
}
.row button {
    border-radius: 1.5rem;
    border-style: none;
    width: 10rem;
    padding: 1rem;
    
    justify-content: center;
}
.homePageButton button{
    border-radius: 1.5rem;
    border-style: none;
    width: 10rem;
    padding: 1rem;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
}
.currentTime {
   display: inline-flexbox;
   margin: auto;
   
}

.time-Row{
    float: right;
}
.date-Row{
    float: left;
}
.row{
    margin: auto;
}




.user-information{
   align-items: center;
   display: inline-flex;
   width: 100%;
   margin-top: 1.5rem;
   margin-bottom: 1.5rem;
}

.username-information {
    font-size: 2rem;
    text-align: right;
    font-weight: 600;
    width: 70%;
}
.time-information{
    display: flexbox;
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    
}
.time-information div{
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}
.rightContent{
    float: right
}


.button-row{
    display: inline-flex;
    margin: auto;
}

.checkIn-Button{
    background-color: #78eb7b;
    align-items: flex-start;
    margin: 0 0.5rem 0 0.5rem;
    
}
.checkIn-Button:hover {
    background-color: #36c73b;
    color: white;
}
.break-Button {
    background-color: #fceb77;
    align-items: center;
    margin: 0 0.5rem 0 0.5rem;
    
    
}
.break-Button:hover {
    background-color: #f7d911;
}
.checkOut-Button{
    background-color: #ff4f4f ;
    align-items: flex-end;
    margin: 0 0.5rem 0 0.5rem;
    
}
.checkOut-Button:hover{
    background-color: #eb2121;
    color: white;
}
