html {
    font-size: 62,5%;
}
body {
    max-width: 100%;
    margin: auto ;
    

}
* {
    box-sizing: content-box;
}
.card {
    margin:10rem auto;
    background-color: #e1e7eb;
    display: flexbox;
    border-radius: 2rem;
    max-width: 40rem;
    height: 30rem;
    padding: 3rem;
}
label {
    text-align: left;
    position: left;
    padding-right: 1.5rem;
}

.button-container button {
    border-radius: 1.5rem;
    background-color: #b49fcf;
    border-style: none;
    width: 10rem;
    padding: 1rem;
    margin: 0.5rem auto 0 auto;
    display: flex;
    justify-content: center;
    
}
.button-container button:hover{
    cursor: pointer;
    background-color: #7e6996;
    color: #e1e7eb;
}

.text{
    text-align: center;
}
.input-container{
    display: flexbox;
    
}
input {
    width: 100%;
}
.card.container{
    margin-top: 10% ;
}